body {
  background: rgb(104, 157, 255);
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform-origin: center;
  transform-style: preserve-3d;
}

.target {
  position: absolute;
  top: 20%;
  left: 20%;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background: #fff;
  box-shadow: 1px 1px 20px 2px rgb(0, 0, 0);
  transform-style: preserve-3d;
}